<div class="center jumbotron">
  <h1>Bienvenido a la aplicación de </br>E-commerce</h1>

  <h2>
    Esta es la página de inicio para el</a>
aplicacion de E-commerce.
  </h2>

  <%= link_to "Regístrate ahora!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

