<footer class="footer">
  <small>
   
  </small>
  <nav>
    <ul>
      <li><%= link_to "Ayuda", help_path %></li>
      <li><a href="http://news.railstutorial.org/">Noticias</a></li>
    </ul>
  </nav>
</footer>